/* body {
    background-image: url('/media/home-background.png');
    background-size: cover;
    height: calc(100vh - 0px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: -1;
    transition: opacity 0.9s ease-in-out;
    opacity: 0;
} */

#back-img.fade {
    opacity: 1;
}

/* .hidden {
    display: none;
} */

kbd::after {
content: "";
  width: 1%;
  height: .10%;
  color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

kbd {
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
      }
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

img {
    height: 35%;
    border-radius: 50%;
    padding: 0.25rem;
    background-color: #fff;
    border: 1pxsolidvar(--bs-border-color);
    max-width: 100%;
}

.html-color {
    color: #f16529;
}

.css-color {
    color: #039be5;
}

.js-color {
    color: #ffda3e;
}

.p-color {
    color: #366E9C;
}

.on-color {
    color: #FFD03E;
}

.flag {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
}