#back-img {
    background-image: url('/media/home-background.png');
    background-size: cover;
    height: calc(100vh - 0px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: -1;
    transition: opacity 0.9s ease-in-out;
    opacity: 0;
}

#back-img.fade {
    opacity: 1;
}

.hidden {
    display: none;
}

#first-div h1::after {
content: "";
  width: 5px;
  height: 30px;
  background: #000;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
      }
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

img {
    height: 35%;
    border-radius: 50%;
    padding: 0.25rem;
    background-color: #fff;
    border: 1pxsolidvar(--bs-border-color);
    max-width: 100%;
}